@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap");
body {
    --bs-body-font-family: "Work Sans", sans-serif;
    font-family: "Work Sans", sans-serif;
}
.form-login {
    width: 100%;
    padding: 30px;
    border-radius: 5px;
    margin: 30% auto;
}

html, .container-fluid {
    background-color: #1d222e;
    color: #8590A5;
}

.container-fluid .form-login {
    background-color: #252b3b;
}

input.form-control {
    background-color: #2B3244;
    border: none;
    color: #fff;
}
input.form-control:focus {
    background-color: #2B3244;
    border: none;
    color: #fff;
}

