@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap");
/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    color: var(--bs-secondary);
    font-weight: normal;
    font-family: Montserrat;
    background: var(--primary-background-color);
    overflow: hidden;
    font-family: "Work Sans", sans-serif;
}

:root {
    --primary-background-color: #1d222e;
    --second-background-color: #252b3b;
    --primary-text-color: #8590A5;
    --second-text-color: #EFF2F7;
    --input-bg-color: #2B3244;
    --bs-blue: #0bb197;
    --bs-indigo: #564ab1;
    --bs-purple: #5664d2;
    --bs-pink: #e83e8c;
    --bs-red: #ff3d60;
    --bs-orange: #f1734f;
    --bs-yellow: #fcb92c;
    --bs-green: #0ac074;
    --bs-teal: #050505;
    --bs-cyan: #4aa3ff;
    --bs-white: #fff;
    --bs-gray: #919bae;
    --bs-gray-dark: #eff2f7;
    --bs-primary: #0bb197;
    --bs-secondary: #919bae;
    --bs-success: #0ac074;
    --bs-info: #4aa3ff;
    --bs-warning: #fcb92c;
    --bs-danger: #ff3d60;
    --bs-pink: #e83e8c;
    --bs-light: #2d3448;
    --bs-dark: #eff2f7;
    --bs-success-boot: #198754;
    --bs-success-hover: #166d44;
    --bs-primary-boot: #0d6efd;
}

/*----------------HEADER--------------------------*/
.header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    font-size: 24px;
    position: sticky;
    top:0;
    z-index: 2;
    background-color: #272d3e;
    color:#f3f3f3;
    width: 100%;
}
.header-logo {
    display: flex;
    width: 250px;
    height: 70px;
    background-color: var(--second-background-color);
    justify-content: center;
    align-items:center;
}
.header-logo img {
    
    width: 80%;
}
.header-logo a {
    display: flex;
    justify-content: center;
}
.header-menu .menu__list {
    display: flex;
    align-items: center;
}

.header-menu .menu__item > div {
    display: none;
    position: absolute;
    background-color: var(--second-background-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem; 
}
.header-menu ul {
    position: relative;
    display: inline-block;
}
.header-menu .menu__item > a {
    color: var(--bs-gray);
    padding: 16px;
    font-size: 16px;
    border: none;
}
.dropdown-icon:after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    margin: 0 0 0 10px;
}
.header-menu a {
    color: var(--bs-gray);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.header-menu a:hover {  
    color: var(--second-text-color);
}
.lang-menu:hover .lang-menu__items {
    display: block;
}
.lang-menu img {
    height: 20px;
    width: 30px;
    margin: 0 15px 0 0;
    vertical-align: middle;
}
.user-menu:hover .user-menu__items {
    display: block;
    margin-top: -10px;
    right: 20px;
}
.user-menu img {
    border-radius: 50%!important;
    height: 40px;
    width: 40px;
    margin: 0 0 0 10px;
    vertical-align: middle;
}
.user-menu__items hr {
   
    border-top: 1px solid var(--bs-gray);
}
.user-menu__items a {
    font-size: 12px;
}

/*--------------PAGE----------*/
.page {
   display: flex;
   height: 100%;
   
}
/*------------SIDEBAR-----------------------------*/
.sidebar {
    background-color: var(--second-background-color);
    font-size: 14px;
    flex: 0 0 250px;
    padding: 40px 0;
}
.sidebar-menu a {
    color: var(--bs-gray);
    display: block;
    font-size: 1.1rem;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.sidebar .menu__icon {
    width: 24px;
}
.sidebar .menu__item {
    padding: 15px 30px;
}
.sidebar .menu__item img {
    vertical-align: middle;
    margin: 0 15px 0 0;
}
.sidebar .menu__item a:hover {
    color: var(--second-text-color);
}
.sidebar .menu-sub__list {
    display: none;
    padding: 20px 0 10px 0;
}

.menu-sub__list a {
    font-size: 14px;
}
.sidebar .menu-sub__item {
    padding: 10px 30px 10px 40px;
}
.device-submenu:hover .menu-sub__list {
    display: block;
}

.sidebar .dropdown-icon:after {
    display: inline-block;
    float:right;
    margin-left: 0.255em;
    margin-top: 0.5em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;

}
/*------------LOGIN-------------------------*/
.form {
    display: flex;
    align-items:center;
    justify-content: center;
    min-height: 100%;
}
.form-block {
    width: 490px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    background-color: var(--second-background-color);
    padding: 40px 30px;
    border-radius: 5px;
}
.form-block .alert-message {
    display: flex;
    width: 100%;
    height: 58px;
    border-radius: 5px;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin: 0px 0px 20px 0;
}
.form-block .logged-in {
    font-weight: 400!important;
    font-size: 1.9rem;
    text-align: center;
}
.form-block .logged-in a{
    color: var(--bs-cyan);
}

.form .title {
    text-align: center;
    margin: 0 0 24px 0;
    font-size: 2rem;
    font-weight: 400;
}
.form .form__controls {
    font-size: 1.1rem;
}
.form .form__controls > div:not(:last-child) {
    display: flex;
    flex-direction: column;
    margin: 0 0 25px 0;
}
.email {
    
}
.form .form__label {
    padding: 0 0 8px 0;
}
.form .form__input {
    height: 36px;
    background-color: var(--input-bg-color);
    border-radius: 0.25rem;
    color: #fff;
    font-size: 1.1rem;
    padding: 0 10px;

}

.form__input-focus:focus{
    border-color:#86b7fe;
    outline:0;
    box-shadow:0 0 0 .25rem rgba(13,110,253,.25);
}

.password {
}
.remember-me {
    display: flex;
    justify-content: space-between;
}
.remember-me .reg_link {
    text-decoration: none;
    color: var(--bs-cyan);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.remember-me .reg_link:hover {
    color: var(--bs-primary-boot);
}

.form .btn {
    width: 100%;
    height: 36px;
    border-radius: 5px;
    color: #fff;
    font-size: 1.1rem;
    background-color: var(--bs-success-boot);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    margin: 50px 0 0 0;
}
.form .btn:hover {
background-color:  var(--bs-success-hover);
-webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.btn-block {
}
.btn-success {
}

/*------------FORM-REGISTRATIONS------------*/

.form .agree-terms {
    
}
/*------------CONTENT-----------------------*/
.content {
    min-height: 100%; 
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 1 1 auto;
}
.content-body {
    
  display: flex;
  
    flex: 1 1 auto;
    align-items: center;
    flex-flow: column wrap;
}

.tables {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    background-color: #252B42;
   
}
.content-footer {
    background-color: #212734;
    margin-bottom: 50px;
    padding: 20px 0px 0px 20px;
    height: 70px;
}
/*----------PROFILE_PAGE-------------------------*/
.profile {
    background-color: var(--second-background-color);
    padding: 30px;
    margin: 10% 0 0 0;
    border: 0 solid #2d3448;
    border-radius: 0.40rem;
    box-shadow: 0 1px 1px rgb(0 0 0 / 8%);
    min-width: 578px;
}
.profile__title {
    color: var(--bs-gray-dark);
    font-size: 1.071rem;
    font-weight: 500;
    padding: 0 0 30px 0;
}
.profile__content {
    display: flex;
}
.profile__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 300%;
}
.profile__body th {
    text-align: left;
    padding: 0 0 0 20px;
}

.large-outline-btn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    width: 100%;
    border-radius: 5px;
}
.profile__link {
    border: 1px solid var(--bs-success);
    color: var(--bs-success);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    margin: 20px 0 0 0;
}
.profile__link:hover {
    color: var(--bs-gray-dark);
    background-color: var(--bs-success-boot);
    border: 1px solid var(--bs-success-boot);
}
.profile__image {
    padding: 0 0 0 30px;
    width: 200px;
    height: 200px;
}
.profile__image img {
    max-width: 100%;
    object-fit: cover;
}

